<nav>
  <div class="site-title">
    <a href="/"><h1>WeatherSpot </h1></a>
    <p>A music recommendation site</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/new-profile">New Profile</a></li>
    <li><a href="/profile">Profiles</a></li>
  </ul>
</nav>
