<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Hi</p>
    <p>We are a group of CS 411 students working on a music recommendation project. Hope you like this site!</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>