<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="saved info"></div>
    Your information has been saved. 
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>
