<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="new profile">
    <h2>Please fill out the form below:</h2>
    <form method="POST" action="/new-profile">
        <label>Name:     <input type="text" name="name" required></label>
        <br>
        <label>Email:    <input type="text" name="email" required></label>
        <br>
        <label>Gender:   <input type="text" name="gender" required></label>
        <br>
        <label>Location: <input type="text" name="location" required></label>
        <br>
        <button>Submit</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>